In [1]:
#importações

import pandas as pd
import numpy as np
import random
from datetime import datetime

In [2]:
# ID do abastecimento
#Serão 10000 linhas de dados

num_id=np.arange(1,10001,1,int)

In [3]:
# Volume
#Será valores aleatórios de 1 a 50, representando a quantidade de litros abastecida

volume=np.zeros(10000)
for i in range(10000):
    volume[i]=round((random.random()*50),0)

In [4]:
#Combustivel
#Poderá ser gasolina, etanol e gasolina aditivada, serão sorteadas uma dessas para cada uma das linhas
s=['etanol', 'gasolina', 'gasolina_aditivada']
comb=[]

for i in range(10000):
    comb.append(random.choice(s))

In [5]:
#Data e hora da compra
#Será sorteado os parâmetro de data e hora

datas=[]

for i in range(10000):

    #lista com o número de todos os meses de um ano
    l_mes=np.arange(1,13,1,int)
    #escolhendo um mês
    mes=random.choice(l_mes)
    #lista com o número de todos os possiveis dias de um mes
    l_dias=np.arange(1,31,1,int)
    d_30=[4,6,9,11]

    #escolhendo o dia conforme o mes
    if mes==2:
        dia=random.choice(l_dias[:28])
    elif mes in d_30:
        dia=random.choice(l_dias[:30])
    else:
        dia=random.choice(l_dias[:31])

    #serão considerado os anos de 2020, 2021, 2022 
    #escolhendo um ano
    ano=random.choice(np.arange(2020,2023,1,int))


    #sorteando uma hora e um minuto
    hora=random.choice(np.arange(0,24,1,int))
    minutos=random.choice(np.arange(0,60,1,int))


    data=str(ano)+'/'+str(mes)+"/"+str(dia)+" "+str(hora)+":"+str(minutos)
    data_final=datetime.strptime(data,'%Y/%m/%d %H:%M')

    datas.append(data_final.strftime('%Y/%m/%d %H:%M'))

In [6]:
#Criando o dataframe

df1=pd.DataFrame(num_id,columns=['id_abas'])
df1['data_hora']=datas
df1['volume']=volume
df1['combustivel']=comb
df1.head()

   id_abas         data_hora  volume         combustivel
0        1  2022/12/27 23:22    45.0            gasolina
1        2  2022/12/15 09:57    16.0              etanol
2        3  2021/12/12 03:32    15.0  gasolina_aditivada
3        4  2022/11/11 04:20    18.0  gasolina_aditivada
4        5  2021/04/29 23:40    13.0              etanol

In [7]:
#Valor

#O valor será calculado conforme o tipo de combustivel e o volume abastecido

l_valor=[]
#preços: gasolina:5,00 etanol 3,50 gasolina aditivada 5,5
for i in range(len(df1)):
    if df1['combustivel'][i]=="gasolina_aditivada":
        l_valor.append((df1['volume'][i])*5.5)
    elif(df1['combustivel'][i]=="gasolina"):
        l_valor.append((df1['volume'][i])*5)
    else:
        l_valor.append((df1['volume'][i])*3.5)
        
df1["valor"]=l_valor

df1.head(10)

   id_abas         data_hora  volume         combustivel  valor
0        1  2022/12/27 23:22    45.0            gasolina  225.0
1        2  2022/12/15 09:57    16.0              etanol   56.0
2        3  2021/12/12 03:32    15.0  gasolina_aditivada   82.5
3        4  2022/11/11 04:20    18.0  gasolina_aditivada   99.0
4        5  2021/04/29 23:40    13.0              etanol   45.5
5        6  2022/07/09 18:38    40.0              etanol  140.0
6        7  2021/12/23 10:19    33.0  gasolina_aditivada  181.5
7        8  2021/05/23 12:10    25.0            gasolina  125.0
8        9  2022/10/21 04:53    17.0  gasolina_aditivada   93.5
9       10  2020/04/09 07:20    11.0              etanol   38.5

In [8]:
df1.to_csv("dados_abastecimento_projeto",index=False)